
.trend{
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    padding-left: 10%;
    padding-top: 5%;
    height: 14%;
    box-shadow: rgba(29,161,242, 0.1) 0px -50px 36px -28px inset;
    /* border-bottom: 1px solid white; */
}

.trend h5{
    color: white;
    margin: 0;
}