.map-style{
    color: red;
    background-color: white;
    height: 40px;
    width: 55px;
    text-align: center;
    border-radius: 20%;
}
.map-span{
    color: black;
     margin: 0;
      padding: 0;
}

.googleMap{
    height: 50vh;
     width: 110%;
}

@media screen and (max-width: 768px){
    .googleMap{
position: relative;
left: 0;
width: 90vw;
height: 40vh;
margin-right: 10%;
padding-left: 10px;
padding-right: 20px;

    }
}