

.dualRing {
  margin-top: 100px;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.dualRing circle{
    stroke: white !important;
}

.dualRing:after {
  z-index: 12;
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px ;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
