/* *{
  color: #774936;
} */

body {
  background-color: #f3d8c7;
  background-image: url("/src/bg-10.png"),linear-gradient(0deg, #f3d8c7 0%, #fbfefb 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fbfefb; */
  /* background-image: url("./components/keepNotes/images/final-bg.png");
  background-position:  right top;
  background-size: 50%;
  background-repeat: no-repeat; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

